
html{
    height: 100%;
}

body{
    margin: 0;
    height: 100%;
}

.main{
    
    height: 100%;
    width: 100%;
}

table{
    padding: 20px;
    border: 7px solid rgb(105, 22, 22);
    border-radius: 5px;
    width: 30%;
    height: 50%;
    border-radius: 20px;
    background-color: aqua;
}



.calculator {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}


.calculator table td input{
    border-radius: 20px;
    border: 7px solid rgb(105, 22, 22);
    background-color: rgb(255, 215, 167);
    font-size: xx-large;
    color: blue;
    height: 100px;
    width: 100%;
    padding-right: 0;
}

#calculator--output{
    color:gray;
}

